.navigation {
  color: #fff;
  display: flex;
  padding: 10px;
  padding-left: 40px;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navigation::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.navigation {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navigation > h2 {
  font-weight: 400;
  margin: 0px 30px;
  opacity: 0.7;
  cursor: pointer;
  transition: transform 50ms ease-out;
}

.navigation > h2:hover {
  transform: scale(1.2);
  opacity: 1;
}
